$rs: 16px;

$font-serif: Georgia, Cambria, "Times New Roman", Times, 'Lora', serif;
$font-sans: "Helvetica Neue", 'Open Sans', Arial, Helvetica, sans-serif;

$blue: #3b8dbd;

$very-light-grey: #fafafa;
$light-grey: #dddddd;
$dark-grey-color: #999999;
$grey-color: #828282;
$somewhat-dark-grey: #666666;
$very-dark-grey: #333333;